<ion-content>

  <div class="wrapper">
    <div class="align">
      <img class="rounded" src="https://st.depositphotos.com/1431107/2001/v/450/depositphotos_20012645-stock-illustration-car-parking-sign-vector-illustration.jpg" height="200"/>
    </div>

    <form>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked"><strong>Username</strong></ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"><strong>Password</strong> </ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        
        <ion-button size="large" expand="block">
          Ingresar
        </ion-button>
        <br>
        <ion-button size="large" color="danger" expand="block">
          <ion-icon name="logo-google" slot="start"></ion-icon>
          Continuar con Google
        </ion-button>
      </ion-card-content>
    </form>
  </div>

</ion-content>
