<div class="div-body">
    <div class="container">
        <div class="row">
            <div class="col-12 my-3 bg-light pt-3 shadow">
                <div class="py-5 text-center">
                    <img
                        src="https://www.adslzone.net/app/uploads/2019/04/borrar-fondo-imagen.jpg"
                        alt="perfil"
                        class="d-block mx-auto mb-4 rounded-circle"
                        width="100" height="100"
                        >
                </div>


                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    Información de tu Cuenta
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item text-left">
                        <h6 class="my-0"><strong>Nombre de usuario</strong></h6>
                        <p class="text-muted my-0">{{ usuario.username }}</p>
                    </li>
                    <li class="list-group-item text-left">
                        <h6 class="my-0"><strong>Nombre</strong></h6>
                        <p class="text-muted my-0">{{ usuario.name }}</p>
                    </li>
                    <li class="list-group-item text-left">
                        <h6 class="my-0"><strong>Correo</strong></h6>
                        <p class="text-muted my-0">{{ usuario.email }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>