<div class="wrapper bg-dark">
    <app-menubar-inicio></app-menubar-inicio>
    
    <div class="col-md-4 mx-auto">
        <div class="form rounded">
            <div class="card-body">
                <h3 class="card-title text-center">Thank you for Registering!</h3>
                <div class="form-group mt-2">
                    <p class="">
                        We have sent a confirmation email to <strong>{{ user?.email }}</strong>
                    </p>    
                    <p class="">
                        Please verify your email and click the link to verify your email
                        address.
                    </p>
                    <p class="">
                        <strong>If you do not verify your email, your account will be deleted.</strong>
                    </p>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary mr-2" (click)="sendVerification()">
                        Resend verification
                    </button>
                    <button class="btn btn-danger mr-2" (click)="onVerify()">
                        Verify
                    </button>
                    <!--<a [routerLink]="['/role']">lopajs</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
