<div class="wrapper bg-dark">
    <app-menubar-inicio></app-menubar-inicio>
    
    <div class="card bg-primary mb-3" style="max-width: 18rem;">
        <button class="btn btn-button btn-primary" (click)="onParkingUser()"><!--data-toggle="modal" data-target="#exampleModal"-->
            <div class="card-body">
                <h5 class="card-title">I'm a parking lot</h5>
                <p class="card-text">Manage news and promotions for a parking lot.</p>
            </div>
        </button>
    </div>

    <div class="card bg-danger" style="max-width: 18rem;">
        <button class="btn btn-button btn-danger" (click)="onRegularUser()">
            <div class="card-body">
                <!--<h5 class="card-title">I'm an adminstrator</h5>
                <p class="card-text">Manage the blocking of users and parking.</p>-->
                <h5 class="card-title">I'm a regular user</h5>
                <p class="card-text">Uses parking, can report users and parking and other functions.</p>
            </div>
        </button>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thank you for Registering!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>We have sent a confirmation email to <strong>{{user?.email}}</strong></p>

                    <p>Please verify your email and click the link to verify your email address.</p>

                    <p>Note: Close the tab after verifying; otherwise, your newly created account will be deleted.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">
                        Resend verification email
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
