<div class="wrapper bg-dark">

    <div class="card bg-primary mb-3" style="max-width: 18rem;">
        <button class="btn btn-button btn-primary" (click)="onParkingUser()">
            <div class="card-body">
                <h5 class="card-title">I'm a parking lot</h5>
                <p class="card-text">Manage news and promotions for a parking lot.</p>
            </div>
        </button>
    </div>

    <div class="card bg-danger" style="max-width: 18rem;">
        <button class="btn btn-button btn-danger" (click)="onRegularUser()">
            <div class="card-body">
                <!--<h5 class="card-title">I'm an adminstrator</h5>
                <p class="card-text">Manage the blocking of users and parking.</p>-->
                <h5 class="card-title">I'm a regular user</h5>
                <p class="card-text">Uses parking, can report users and parking and other functions.</p>
            </div>
        </button>
    </div>
</div>