<div class="wrapper bg-dark">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Thank you for Registering!</h3>
                <div class="form-group mt-2">
                    <p class="">
                        We have sent a confirmation email to <strong>{{ user?.email }}</strong>
                    </p>    
                    <p class="">
                        Please verify your email and click the link to verify your email
                        address.
                    </p>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" (click)="sendVerification()">
                        Resend verification email
                    </button>
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-success" (click)="onLogin()">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
