<div>
    <app-nav-bar-inicio></app-nav-bar-inicio>
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3"><strong>502 PL Bienvenido!</strong></h1>
                <p>
                    Donde parquear no es solo un placer
                </p>
                <p>
                    Sientase libre de navegar en nuestro sitio, puede registrarse como dueño de parqueo,
                    o como usuario regular para hacer uso de nuestro servicio.
                </p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Dueños</h2>
                    <p>Usuarios que puede adminsitrar su parqueo registrado, para brindar un servicio mejorado.</p>
                    <img class="d-block" width="350" height="200" src="assets/duenio.jpg" alt="ro">
                </div>
                <div class="col-md-4">
                    <h2>Regulares</h2>
                    <p>Usuarios que hace uso de un parqueo, facil acceso a sus parqueos favoritos.</p>
                    <img class="d-block" width="350" height="200" src="assets/rotulo.jpg" alt="ro">
                </div>
                <div class="col-md-4">
                    <h2>Administradores</h2>
                    <p>Usuarios que administran el sistema, brindan apoyo a usuarios en sentido de seguridad.</p>
                    <img class="d-block" width="350" height="200" src="assets/admin.jpg" alt="ro">
                </div>
            </div>
        </div>
    </main>
    <footer class="container">
        <p>© Company 2020-2021</p>
    </footer>
</div>
