<div class="wrapper bg-light">
    <app-nav-bar></app-nav-bar>

    <!-- Aqui empieza el album -->
    <div class="album">
        <h1 class="jumbotron-heading text-center py-3 my-2"><strong>502 ParkingLot</strong></h1>
        <div class="container py-3">
            <div class="row">

                <div *ngFor="let parqueo of parqueos; " class="col-md-4">


                    <div class="card mb-4 box-shadow">
                        <button class="btn btn-light" data-toggle="modal" data-target="#infoModal"
                            (click)="changeCurrentLot(parqueo)">
                            <img class="card-img-top" data-src="{{parqueo.photo}}" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-text">
                                    {{ (parqueo.location? parqueo.location + ' ': '') + parqueo.email }}</h6>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <!--<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"  data-target="#infoModal">Detalles</button>-->
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Aqui termina el album -->

    <!-- Aqui Comienza modal current parqueo -->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="profilePicTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="profilePicTitle">{{currentLot.location}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" #infoClose hidden>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container">

                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">

                                <div *ngFor="let photo of currentLot.photos; let i = index">
                                    <div class="{{ currentPhoto === i ? 'carousel-item active' : 'carousel-item'}}">
                                        <img class="d-block w-100" src="{{photo}}" alt="">
                                    </div>
                                </div>

                            </div>

                            <a class="carousel-control-prev" role="button" (click)="previous()">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" role="button" (click)="next()">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                        <div class="form-group my-2">
                            <div class="form-group">
                                <label for="editNombre">Name</label>
                                <input type="text" class="form-control" id="editNombre" [(ngModel)]="currentLot.name"
                                    disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="editCorreo">Email</label>
                                <input type="text" class="form-control" id="editCorreo" [(ngModel)]="currentLot.email"
                                    disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="editTelefono">Phone number</label>
                                <input type="text" class="form-control" id="editTelefono" [(ngModel)]="currentLot.phone"
                                    disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="editPassword">Tariff</label>
                                <input type="text" class="form-control" id="editTarifa" [(ngModel)]="currentLot.tariff"
                                    disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="editPassword">Available places</label>
                                <input type="number" class="form-control" id="editSpaces"
                                    [(ngModel)]="currentLot.numberAvailable" disabled>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                    <button type="button" class="btn btn-danger" (click)="reportParking()">Reportar</button>
                    <!--<button type="button" class="btn btn-dark">Visitar</button>-->
                    <button type="button" class="btn btn-primary">Favorite</button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newsModal"
                        (click)="closeModal()">Publish</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Aqui Termina modal current parqueo -->

    <!-- Publicar Noticias -->
    <div class="modal fade" id="newsModal" tabindex="-1" role="dialog" aria-labelledby="policeTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="policeTitle">What are you thinking?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" #newsClose>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form>
                        <div class="form-group">
                            <div class="custom-file">
                                <label for="policePhoto" class="custom-file-label">Upload image</label>
                                <input #newsPhotos type="file" multiple accept="image/*" class="custom-file-input"
                                    id="policePhoto">
                            </div>
                        </div>
                        <div class="form-group mx-1">
                            <textarea class="form-control"></textarea>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeNewsModal()">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="publish()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Terminar publicar noticia -->
</div>
