<div class="divbody text-center bg-dark">
    
    <form class="form-signin bg-light mx-4 rounded">
    
        <h1 class="h3 mb-3 font-weight-normal">502PL</h1>
        <label for="inputEmail" class="sr-only">Credenciales</label>
        <input name="credInput" type="email" id="inputEmail" class="form-control my-2" placeholder="Credenciales">
        <label for="inputPassword" class="sr-only">Clave</label>
        <input name="credPassword" type="password" id="inputPassword" class="form-control mb-4" placeholder="Clave">

        <button name="credButton" class="btn btn-lg btn-primary btn-block"
            type="button">Ingresar</button>
        <p class="mt-3 mb-2 text-muted">&copy; 2020</p>
    
    </form>

</div>