<!--<div class="divbody">
    <form class="bg-light mx-4 rounded">
        <h1 class="h3 mb-3 font-weight-normal text-center">502PL</h1>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="email" class="form-control my-2 " id="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control mb-4 " id="password">
        </div>
    </form>
</div>
-->
<div class="wrapper bg-dark">
    <div class="account-wall bg-light mx-4 rounded">
        <img class="profile-img my-3" src="https://st.depositphotos.com/1431107/2001/v/450/depositphotos_20012645-stock-illustration-car-parking-sign-vector-illustration.jpg" alt="" height="300">
        
        <form class="form-signin">
            <div class="form-group">
                <input type="text" id="login" class="form-control" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input type="password" id="password" class="form-control" name="login" placeholder="password">
            </div>
            
            <button type="button" class="btn btn-primary btn-block">Ingresar</button>
            <label for=""></label>
            <button type="button" class="btn btn-light btn-block shadow"><i class="fa fa-google mr-2"></i>&nbsp;&nbsp;&nbsp;Continuar con Google&nbsp;&nbsp;&nbsp;</button>
            <!--<button class="btn btn-lg btn-google btn-block shadow" type="submit"><i class="fa fa-google mr-2"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login con Google&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>-->
            <!--<button class="btn btn-lg btn-facebook btn-block" type="submit"><i class="fa fa-facebook-f mr-2"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Facebook   </button>-->
        </form>
    </div>
  </div>