<ion-header>
  <ion-toolbar>
    <ion-title>Informacion de tu cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list lines="full" class="ion-no-margin ion-no-padding">

      <ion-avatar>
        <ion-img [src]="usuario.photo" ></ion-img>
      </ion-avatar>
    
    <ion-item>
      <ion-label position="stacked">Username </ion-label>
      <ion-input required type="text" disabled="{{ deshabilitado }}">{{ usuario.username }} </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Username </ion-label>
      <ion-input required type="text" disabled="{{ deshabilitado }}">{{ usuario.username }} </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Username </ion-label>
      <ion-input required type="text" disabled="{{ deshabilitado }}">{{ usuario.username }} </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Username </ion-label>
      <ion-input required type="text" disabled="{{ deshabilitado }}">{{ usuario.username }} </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Username </ion-label>
      <ion-input required type="text" disabled="{{ deshabilitado }}">{{ usuario.username }} </ion-input>
    </ion-item>

  </ion-list>

</ion-content>
