<div>
    <app-nav-bar-inicio></app-nav-bar-inicio>
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3"><strong>Promociones 502 PL</strong></h1>
            
            <p>
                Cuidamos tu vehículo y también tu economía. 
            </p>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Solo de apertura</h2>
                <p>Ven a conocer nuestras promociones especiales para los primeros 502 clientes.</p>
                <img class="d-block" width="350" height="200" src="assets/promo1.jpg" alt="ro">
            </div>
            <div class="col-md-4">
                <h2>¡Por fin viernes!</h2>
                <p>Pide tus beneficios por usar nuestro servicio toda la semana.</p>
                <img class="d-block" width="350" height="200" src="assets/promo2.jpg" alt="ro">
            </div>
            <div class="col-md-4">
                <h2>Premiamos tu esfuerzo</h2>
                <p>Si eres estudiante y tuviste un 100 hoy, el parqueo es gratis.</p>
                <img class="d-block" width="350" height="200" src="assets/promo3.jpg" alt="ro">
            </div>
        </div>
    </div>
</main>


<footer class="container">
    <p>© Company 2020-2021</p>
</footer>


</div>